
html {
  height: 100%;
  box-sizing: border-box;
}

.body-style-for-footer {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.main-footer, .main-footer-login {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #c63f40;
  color: #ffffff;
}

.main-footer-login {
  color: white;
}

.background-transparente {
  background: transparent !important;
}

.bg-vermelho-cmei {   
  background-color: #c63f40;
}

.btn-vermelho-cmei {
  color: #fff;
  background-color: #971011;
  border-color: #971011;
}

.btn-vermelho-cmei:hover {
  color: #fff;
  background-color: #971011;
  border-color: #971011;
}

.btn-vermelho-cmei:focus,
.btn-vermelho-cmei.focus {
  color: #fff;
  background-color: #971011;
  border-color: #971011;
  box-shadow: 0 0 0 0.2rem rgba(247, 8, 8, 0.5);
}

.btn-vermelho-cmei.disabled,
.btn-vermelho-cmei:disabled {
  color: #fff;
  background-color: #971011;
  border-color: #971011;
}

.btn-vermelho-cmei:not(:disabled):not(.disabled):active,
.btn-vermelho-cmei:not(:disabled):not(.disabled).active,
.show > .btn-vermelho-cmei.dropdown-toggle {
  color: #fff;
  background-color: #971011;
  border-color: #971011;
}

.btn-vermelho-cmei:not(:disabled):not(.disabled):active:focus,
.btn-vermelho-cmei:not(:disabled):not(.disabled).active:focus,
.show > .btn-vermelho-cmei.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(247, 8, 8, 0.5);
}